* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgba(119, 115, 115, 0.137);
}

.container{
    position: absolute;
    width: auto;
    height: auto;        
    }

#cabecalho{
    position: relative;
    color: white;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.959);
    /*font-family: DejaVu Sans Mono, monospace;*/
    padding: 15px;
    font-family:'Filósofo', sans-serif;
}

a:link, a:visited{
    font-weight: bold;
    text-decoration: none;
    color: black;

}

#form {
    position: absolute;
    left: 50%;
    top: 8%;
    transform:translateX(-50%);
    background-color: rgba(0, 0, 0, 0.048);
    border: rgba(197, 207, 207, 0.205);
    border-radius: 10px;
    border-style: groove;
    /*margin:10px 250px 10px 250px;*/
    padding:15px 30px 15px 30px;
    }

    .form-label {
    border-radius: 5px;
    background-color: rgba(169, 169, 169, 0.212);
    font-family: DejaVu Sans Mono, monospace;
    text-align: left;
    padding:5px 10px 5px 10px;    
    }

    #terreno{ 
    width: 70px;
    margin: 5px 20px 5px 15px;
    }

    #ocupacao {
    width: 70px;
    margin:5px 20px 5px 75px;
        }
    #coeficiente{
    width: 70px;
    margin:5px 20px 5px 5px;
    }

    #permeabilidade{
    width: 70px;
    margin: 5px 20px 5px 23px;
}

    #btn-calcula{
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(130, 179, 211);
    position: relative;
    font-family: DejaVu Sans Mono, monospace;
    width: 40%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-left: 40px;
        }

    #btn-limpar{
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: darkgrey;
    position: relative;
    font-family: DejaVu Sans Mono, monospace;
    width: 40%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-left: 80px;
    }

    #resposta{
    background-color: darkgrey;
    border-radius: 5px;
    font-family: DejaVu Sans Mono, monospace;
    text-align: left;
    padding:5px 10px 5px 10px;
    margin-top: 10px;
}

/*termino do formulário*/



.txt-explica {
    background-color: white;
    margin:300px 280px 20px 80px;
    padding:20px 50px 40px 50px ;
    text-align:justify;
    }

    .txt-ocupacao{
    margin-bottom: 600px;
    }
    #txt-coeficiente{
    margin-bottom: 600px;
    }
    #txt-permeabilidade{
    margin-bottom: 600px;
}

/*termino do texto explicativo*/


.seta-para-cima {
    position: fixed;
    width: 50px;
    bottom: 10px;
    right: 20px;
       
}

#ultima-linha {
    margin-top: 10px;
}

/* icones interativos*/
#redes-sociais {
    position: relative;
    left: 50%;
    transform:translatex(-50%);
    margin-bottom: 30px;
    }

    .redes-sociais {
    width: 50px;
    margin-left: 10px;
    }

    .txt-redes-sociais {
    
    }  

#roda-pe {

    color:black;
    font-family:FreeMono, monospace;
    background-color:rgba(0, 0, 0, 0.233);;
    text-align: center;
    width: 100%;
    height: 200px;
    padding: 20px 0px 20px 0px;
    }
    
    #fonte-de-icones {
    position: relative;
    bottom: 0;
    font-size: 12px;

    }